<% if object && object.errors.size > 0 %>
	<div id="errorExplanation">
		<h2><%= pluralize(object.errors.size, "error")%>  </h2>
		<p>Hay Problemas con los siguientes campos:</p>
		<ul>
			<% object.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
				</ul>
				</div>
				<% end %>