<span class= 'btn default'><%= link_to("<< Volver", {:action => 'list'}, :class => 'back-link',:style => 'color:#000000;text-decoration:none;') %></span>
<div class="delete movement">
  <%= form_for(:movement,:url => {:action => 'destroy',:id => @movement.id}) do |movement| %>
<p>estas seguro que quieres borrar</p>
  <div class= "form-buttons">
    <%= submit_tag("Borrar Movimiento") %>
  </div>
<% end %>




  
  
  




