<%= link_to("<< Volver", {:action => 'list'}, :class => 'back-link') %>

<div class = "Borrar Movimiento">
     <h1>Borrar Movimiento</h1>
     <%= form_for(:movement,:url => {:action => 'destroy',:id => @movement.id}) do |movement| %>
     
     <p> Estas seguro de que quieres borrar este movimiento? </p>


	

	<div class= "form-buttons">
	<%= submit_tag("Borrar Movimiento") %>
	</div>

	<% end %>




