<span class= 'btn default'><%= link_to("<< Volver", {:action => 'list'}, :class => 'back-link',:style => 'color:#000000;text-decoration:none;') %> </span>


<div class="movement edit">
  <%= form_for(:movement, :url => {:action => 'update',:id => @movement.id}) do |movement| %>
<body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href=" ">ContaSoft</a>
        </div>
      </div>
    </div>

    <div class="container-fluid "> 
     <div class="content">
      <div class="page-header">
        <h1>Editar Movimiento</h1>
        <h1> <%= submit_tag("Actualizar Movimiento") %></h1>
      </div>
        <div class="row">
	    <%=render (:partial => "movement_fields", :locals => {:movement => movement})%>
	    <%end%>
        </div>

    </div>
          
        
     