<span class= 'btn default'><%= link_to("<< Volver", {:action => 'list'}, :class => 'back-link',:style => 'color:#000000;text-decoration:none;') %></span>



<div class="new movement">
  <%= form_for(:movement, :url => {:action => 'create'}) do |movement| %>
  <body>
  	<div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href=" ">ContaSoft</a>
        </div>
      </div>
    </div>	
  	<div class="container-fluid "> 
     <div class="content">
      <div class="page-header">
        <h1>Editar Movimiento</h1>
      </div>
        <div class="row">
  <%=render (:partial => "movement_fields", :locals => {:movement => movement})%>
	
	<div class= "form-buttons">
		<%= submit_tag("Crear Movimiento") %>
	</div>
									
	<%end%>
									
</div>






    

    
	







